<footer class="site-footer">

  <div class="wrapper">

<a href="mailto:marco.favorito@gmail.com">
<img src="./assets/img/icons/envelope.svg" width="24" height="24" /></a>

<a href="mailto:favorito@diag.uniroma1.it">
<img src="./assets/img/icons/envelope.svg" width="24" height="24" /></a>

<a href="tg://resolve?domain=marcofavorito">
<img src="./assets/img/icons/telegram.svg" width="24" height="24" /></a>

<a href="https://github.com/marcofavorito/">
<img src="./assets/img/icons/github.svg" width="24" height="24" /></a>

<a href="https://www.linkedin.com/in/marcofavorito/">
<img src="./assets/img/icons/linkedin.png" width="24" height="24"/></a>

<a href="keybase://chat/marcofavorito">
<img src="./assets/img/icons/keybase.svg" width="24" height="24" /></a>

<a href="https://www.reddit.com/user/marcofavorito">
<img src="./assets/img/icons/reddit.svg" width="24" height="24" /></a>

<a href="./public_pgp.txt">
<img src="./assets/img/icons/pgp.png" width="24" height="24" /></a>
<!--PGP key: 1B17 E963 6D21 C8BF -->

<a href="https://scholar.google.it/citations?user=tJhhDGEAAAAJ">
<img src="./assets/img/icons/scholar.png" width="24" height="24"></a>

<a href="https://dblp.uni-trier.de/pers/hd/f/Favorito:Marco">
<img src="./assets/img/icons/dblp.png" width="24" height="24"></a>

<div style="display: inline; text-align: center"
  itemscope itemtype="https://schema.org/Person">
  <a itemprop="sameAs" content="https://orcid.org/0000-0001-9566-3576" 
     href="https://orcid.org/0000-0001-9566-3576" 
     target="orcid.widget" 
     rel="me noopener noreferrer" 
     style="vertical-align:top;">
      <img src="./assets/img/icons/orcid_bw.png"
           width="24" height="24"
           alt="ORCID iD icon"></a></div>
      <!-- https://orcid.org/0000-0001-9566-3576 -->

<a href="bitcoin:BC1QSNTNEWWS350D6GT25WC4SXNZFEY55WSE7V0RGJ">
<img src="./assets/img/icons/bitcoin.png" width="24" height="24"/></a>

<a href="">
<img src="./assets/img/icons/zcash.png" width="24" height="24"/></a>


  </div>

</footer>
