
.site-nav {
    float: left;
}


.page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.page-content {
  flex: 1;
  padding: 30px 0;
  background-color: #fff;
}


.footer-icon {
    display: inline;
    text-align: center;
    width: 24;
    height: 24;
}


/* Home styles */
/* ----------------------------------------------------------*/

.home h1 { margin-bottom: 25px; }

.posts { list-style-type: none; }

.posts li { margin-bottom: 30px; }

.posts .post-link {
  font-size: 20px;
  letter-spacing: -1px;
  line-height: 1;
}

.posts .post-date {
  display: block;
  font-size: 15px;
  color: #818181;
}



/* Post styles */
/* ----------------------------------------------------------*/

.post-header { margin: 10px 0 30px; }

.post-header h1 {
 font-size: 36px;
 letter-spacing: -1.75px;
 line-height: 1;
 font-weight: 300;
}

.post-header .meta {
  font-size: 15px;
  color: #818181;
  margin-top: 5px;
}

